$r: 	#EC4342;	// red
$bg: 	#3D4247;	// blue gray ish
$dbg: 	#333333; 	// dark blue gray ish
$lg: 	#F2F2F2;	// light gray
$w: 	#FFFFFF;	// white
$b: 	#000000;	// black

$h1: Times;
$h2: allerta;
$h3: Times;
