.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    padding: 30;
    border: none;
    border-spacing: 0;
}
.ui-datepicker {
    display: none;
    width: 100%;
    padding: 35px;
    cursor: default;
 
    text-transform: uppercase;
    font-family: Tahoma;
    font-size: 27px;
 
    background: $lg;
}
.ui-datepicker-header {
    position: relative;
    padding-bottom: 40px;
    border-bottom: 1px solid #d6d6d6;
    background-color:$r;
}
.ui-datepicker-title { text-align: center; }
.ui-datepicker-month {
    position: relative;
    //padding-right: 15px;
    color: $w;
}
.ui-datepicker-year {
    //padding-left: 8px;
    //color: #a8a8a8;
}
.ui-datepicker-month:before {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 5px;
    content: '';
 
    /* 
    background: #a5cd4e;
    background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    */
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: -2px;
    padding: 5px;
    cursor: pointer;
}
.ui-datepicker-prev {
    left: 0;
    padding-left: 0;
}
.ui-datepicker-next {
    right: 0;
    padding-right: 0;
}
.ui-datepicker-prev span,
.ui-datepicker-next span{
    display: block;
    width: 5px;
    height: 10px;
    text-indent: -9999px;
 
    background-image: url(../images/arrows.png);
}
.ui-datepicker-prev span { background-position: 0px 0px; }
 
.ui-datepicker-next span { background-position: -5px 0px; }
 
.ui-datepicker-prev-hover span { background-position: 0px -10px; }
 
.ui-datepicker-next-hover span { background-position: -5px -10px; }

.ui-datepicker-calendar td {
    margin:10px;
}
$m: 25px;
$sm:18px;
.ui-datepicker-calendar a {  
    margin-top: 10px;
    padding:$sm $m $sm $m;
    border-bottom: 7px solid $bg;
    background-color: $w;
}
.ui-datepicker-calendar .ui-state-default {
    display: block;
    width: 90%;
    outline: none;
 
    text-decoration: none;
    color: $bg;
 }
.ui-datepicker-calendar .ui-state-active {
    border-bottom: 7px solid $r;
}