@font-face {
    font-family: allerta;
    src: url(../fonts/Allerta-Regular.ttf);
}
@font-face {
    font-family: helvetica_lj;
    src: url(../fonts/HelveticaNeue.dfont);
}
@font-face {
	font-family: 'devicons';
	src:url('../fonts/devicons/devicons.eot?xqxft6');
	src:url('../fonts/devicons/devicons.eot?#iefixxqxft6') format('embedded-opentype'),
		url('../fonts/devicons/devicons.woff?xqxft6') format('woff'),
		url('../fonts/devicons/devicons.ttf?xqxft6') format('truetype'),
		url('../fonts/devicons/devicons.svg?xqxft6#devicons') format('svg');
	font-weight: normal;
	font-style: normal;
}