@import "base";
@import "fonts";

h1 { font-family:$h1; color:$w; font-style:italic; font-size:65px;}
h2 { font-family:$h2; }
h3 { font-family:$h3 }
h4 { font-family:$h2 }

body {
	font-family:allerta;
	background: #ccc;
	width:640px;
	height:1136px;
}
#wrapper {
	background-color:$lg;
}
header {
	z-index:999999999;
	background-color:$bg;
	width: 640px;
	padding:10px;
	border-bottom: 1px solid $dbg;
	nav { 
		position: absolute;
		display:none; 
		right:0px;
		margin-top: 52px;
		ul {
			margin-top: 28px;
			float: left;
			width: 420px;
			li {
				background-color:$bg;
				padding:20px;
				border:1px solid $dbg;

			}
			span {
				color:$lg;
				font-size: 35px;
				float: right;
				margin-top: 30px;
				padding-right:30px;
			}
		}
	}
	#date {
		width: 60%;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		h2 { color: $lg; }
	}
	#menu-trigger {
		float:right;
		margin-top: 17px;
		div {
			width: 50px;
			height: 5px;
			background-color:$w;
			margin-right: 20px;
		}
		.twoo { margin:10px 0px 10px 0; }
	}
}
.circular {
	width: 50;
	height: 50;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	}
.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
}

.login {
	border-right: 3px solid #fff;
}
.register {
	border-right: 3px solid #fff;
}
.body-img {
	background-image: url('../images/app_background.jpg');
	background-size: 640px 1136px;
	background-repeat:no-repeat;
	background-position:left;
}
.field {
	span {
		color:RED;
	}
}
#question {
	background-image:url('../images/question_background.png');
	background-size:100%;
	background-repeat: no-repeat;
	height:420px;
	padding:20px;
	text-align:center;
	color: $w;
	td {
		height: 420px;
		width: 640px;
		vertical-align: center;
		text-align: center;
	}
}
#answers {
	h3 {
		font-style: italic;
		font-size: 40px;
	}
	p {
		font-size: 24px;
	}
	#new-answers {
		padding:15px 15px 15px 30px;
	}
	#old-answers {
		li {
			border-top:2px solid $bg;
			padding:15px 15px 15px 30px;
		}
	}
}
.settings {
	li {
		display: block;
		height:50px;
		padding-left:25px;
	}
	li:first-child {
		border-bottom: 1px solid black;
		padding-top:40px;
		padding-bottom: 50px;
	}
	#userInformation {
		border-bottom: 1px solid black;
	}
	.label {
		color:$bg;
		font-size: 25px;
		float:left;
	}
	
	.checkbox {
	}
	.field {
		float:right;
		margin-right: 60px;
	}	
}
#messages{
	padding:10px;
}
.danger, .alert, .message {
	font-size:26px;
	text-align:center;
}
input[type=checkbox].css-checkbox + label.css-label {
	padding-left:31px;
	height:26px; 
	display:inline-block;
	line-height:26px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:26px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -26px;
}
label.css-label {
	background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_b257b7d8dd1c0c2d68e34bb8ac17c035.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@import "cal";