@import "base";
@import "fonts";
h1 { font-family:$h1; color:$w; font-style:italic; font-size:65px;}
h2 { font-family:$h2; }
h3 { font-family:$h3 }
h4 { font-family:$h2 }
body {
	font-family:allerta;
	background: #ccc;
	width:640px;
	height:1136px;
}
#wrapper {
	height:1136px;
	background-color:$lg;
	form {
		padding:20px;
	}
}
header {
	z-index:999999999;
	background-color:$bg;
	width: 640px;
	padding:10px;
	border-bottom: 1px solid $dbg;
	nav { 
		z-index:999999999;
		position: absolute;
		display:none; 
		right:0px;
		margin-top: 52px;
		ul {
			z-index:999999999;
			margin-top: 28px;
			float: left;
			width: 420px;
			li {
				z-index:999999999;
				background-color:$bg;
				padding:20px;
				border:1px solid $dbg;
			}
			span {
				z-index:999999999;
				color:$lg;
				font-size: 35px;
				float: right;
				margin-top: 30px;
				padding-right:30px;
			}
		}
	}
	#date {
		width: 60%;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		h2 { 
			color: $lg;
			font-size:2.2em;
		}
	}
	#menu-trigger {
		float:right;
		margin-top: 17px;
		div {
			width: 50px;
			height: 5px;
			background-color:$w;
			margin-right: 20px;
		}
		.twoo { margin:10px 0px 10px 0; }
	}
}
#start-title {
	border-bottom: 1px solid $dbg;
	p {
		font-size:40px;
		padding:20px;
	}
}
.circular {
	width: 50;
	height: 50;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	}
.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
}

.login {
	border-right: 3px solid #fff;
}
.register {
	border-right: 3px solid #fff;
}
#wrapper-start {
	background-image: url('../images/app_background.png');
	background-size: 640px 1136px;
	background-repeat:no-repeat;
	background-position:left;
	height:1136px;
}
.field {
	span {
		color:RED;
	}
}
#question {
	background-image:url('../images/question_background.png');
	background-size:100%;
	background-repeat: no-repeat;
	height:420px;
	padding:20px;
	text-align:center;
	color: $w;
	td {
		height: 420px;
		width: 640px;
		vertical-align: center;
		text-align: center;
	}
}
#answers {
	h3 {
		font-style: italic;
		font-size: 40px;
	}
	p {
		font-size: 24px;
	}
	#new-answers {
		padding:15px 15px 15px 30px;
	}
	#old-answers {
		li {
			border-top:2px solid $bg;
			padding:15px 15px 15px 30px;
		}
	}
}
.settings {
	li {
		display: block;
		height:50px;
		padding-left:25px;
	}
	li:first-child {
		border-bottom: 1px solid black;
		padding-top:40px;
		padding-bottom: 60px;
	}
	li:last-child {
		border-top:1px solid $b;
		margin-top:50px;
	}
	#userInformation {
		margin:20px 0 120px 0;
		p {
			width: 80%;
			padding: 20px 0px 20px 0px;	
		}
	}
	.label {
		color:$bg;
		font-size: 25px;
		float:left;
	}
	.checkbox {
	}
	.field {
		float:right;
		margin-right: 60px;
	}	
}
#messages li {
	padding:10px;
	margin:0px;
}
.danger, .alert, .message {
	font-size:26px;
	text-align:center;
}
.settings_save {
	color:$w;
	width:40%;
}
#logout {
	padding-top:40px;
	.logout {
		width: 40%;
	}
}
input {
	border:none;
	box-shadow: none;
	background-image: none;
	-webkit-backface-visibility: hidden;
	z-index:0;
}
input[type="text"],input[type="password"],input[type="email"],input[type="date"] {
	border-bottom:1px solid $dbg;
	border-right:1px solid $dbg;
	border-left:1px solid $dbg;
	height:41px;
	width:300px;
	padding: 8px 5px;
	text-indent: 6px;
	background-color: $lg;
	font-size:21px;
	float:left;
}
input[type="file"] {
	border:1px solid $r;
	height:100px;
}
input.error_field {
	border-bottom:1px solid $r;
	border-right:1px solid $r;
	border-left:1px solid $r;
}
#error_message_start {
	background-color:$r;
	padding:20px;
	p {
		color:$w;
		font-size:1.6em;
	}
}
#field_error {
	padding-top:30px;
	span {
		font-size:1.3em;
	}
}
#answer-form {
	.answer {
		width:500px;
	}
	.submit {
		font-size: 20px;
		padding:10px;
	}
}
#register-form, #login-form {
	input {
		width:480px;
	}
	div {
		margin-bottom: 15px;

	}
	label {
		font-size: 30px;
		margin-bottom:10px;
	}
	input[type="submit"] {
		width: 30%;
		color:$w;
	}
}
#privacy-links {
	padding:0px 150px 0px 20px;
	p {font-size:21px;}
}
#footer-content {
	padding-top:1030px;
	.btn {
		margin-left:40px;
		width: 40%;
	}
}
.back {
	position:relative;
	border-top:1px solid $dbg;
	height:100px;
	width:640px;
	p {
		padding:20px;
		font-size: 1.4em;
	}
}
.legal {
	margin-top:900px;
}
.text {
	left:30px;
	top:150px;
	width:90%;
	height: 800px;
	position: absolute;
	overflow:scroll;
	text-align:left;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(0%,rgba(0,0,0,1)), color-stop(90%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)));
}
@import "cal";
@import "settingsswitch";